<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.customer.dao.QADao">

    <select id="query" resultType="net.lab1024.sa.admin.module.business.customer.domain.vo.QAVO">
        SELECT *
        FROM t_cs_qa
        <where>
            <if test="query.question != null and query.question != ''">
                AND INSTR(question, #{query.question})
            </if>
            <if test="query.status != null">
                AND status = #{query.status}
            </if>
            <if test="query.createTimeBegin != null">
                AND create_time &gt;= #{query.createTimeBegin}
            </if>
            <if test="query.createTimeEnd != null">
                AND create_time &lt; DATE_ADD(#{query.createTimeEnd}, INTERVAL 1 DAY)
            </if>
            <if test="query.deletedFlag != null">
                AND deleted_flag = #{query.deletedFlag}
            </if>
        </where>
        <if test="query.sortItemList == null or query.sortItemList.size == 0">
            ORDER BY status ASC, qa_id DESC
        </if>
    </select>

</mapper>