<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.mall.dao.SeckillActivityDao">

    <update id="deductStock">
        UPDATE t_seckill_activity
        SET stock = stock - #{qty},
            sold_count = sold_count + #{qty}
        WHERE activity_id = #{activityId}
          AND deleted_flag = 0
          AND enabled_flag = 1
          AND stock &gt;= #{qty}
    </update>

    <update id="restoreStock">
        UPDATE t_seckill_activity
        SET stock = stock + #{qty},
            sold_count = GREATEST(sold_count - #{qty}, 0)
        WHERE activity_id = #{activityId}
          AND deleted_flag = 0
    </update>

</mapper>
